<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tsuica.mapper.TimeLineMapper">

  <!-- タイムライン一覧取得 -->
  <select id="selectTimeLine"
    resultType="com.example.tsuica.entity.TimeLineEntity">
    select
      tl.content
     ,tl.post_user
    from
      time_line tl
  </select>
  <!-- タイムライン検索結果取得 -->
  <select id="searchTimeLine"
    resultType="com.example.tsuica.entity.TimeLineEntity">
    select
      tl.content
     ,tl.post_user
    from
      time_line tl
    where
      tl.content like CONCAT('%', #{keyword}, '%')
  </select>
</mapper>